<nav class="navbar">
  <div class="container-fluid justify-content-center">
    <span class="navbar-brand mb-0 h1">OKR Tracker</span>
    <div class="dropdown" *ngIf='filters?.length'>
      <button class="btn btn-info dropdown-toggle btn-block shadow-sm cust-color" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Choose Category
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li *ngFor="let item of filters"><button class="dropdown-item" type="button" (click)='onCategoryClick(item)'>{{item}}</button></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" id='selectedCats'>
  <p class="text-left" *ngIf="selectedCats.length">Selected Categories</p>
  <ng-container *ngFor="let item of selectedCats">
    <button type="button" class="btn btn-info rounded-pill btn-block shadow-sm m-1 cust-color">
      {{item}} <span class="badge bg-danger" (click)='onClickDelete(item)'>X</span>
    </button>
  </ng-container>
</div>
<okr-accordion [model]="filteredModel" *ngIf='filteredModel?.length'></okr-accordion>